.wrapper {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
header.top-header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 100px;
}

body {
  font-family: "Quicksand", sans-serif;
  color: #9a9a9a;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
}
header.top-header .wrapper nav.left-nav ul,
header.top-header .wrapper nav.right-nav ul {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  color: #433840;
}
header.top-header .wrapper nav.left-nav ul li,
header.top-header .wrapper nav.right-nav ul li {
  margin-left: 16px;
  margin-right: 16px;
}
header.top-header .wrapper nav.left-nav ul li a.active,
header.top-header .wrapper nav.right-nav ul li a.active {
  color: #fea3ac;
}
header.top-header .wrapper nav.left-nav ul li a,
header.top-header .wrapper nav.right-nav ul li a {
  color: inherit;
  text-decoration: none;
}
header.top-header
  .wrapper
  nav.left-nav
  ul
  li
  a:hover
  header.top-header
  .wrapper
  nav.right-nav
  ul
  li
  a:hover {
  color: #fea3ac;
  transition: all 300ms ease-in-out;
}
.page-heading {
  min-height: 500px;
  position: relative;
  background-size: cover;
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.page-heading.about-page {
  background: transparent url(img/Slider.png) center center no-repeat;
}
.page-heading::before {
}
.page-heading::after {
}
.page-heading h2 {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 62px;
  color: white;
}
.page-heading span {
  font-family: Waiting for the Sunrise;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 50px;
  color: #ffffff;
}

.about-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 70px;
}
.item-data .about-box:first-child {
  padding-left: 25px;
  padding-right: 45px;
}

.item-data .about-box:first-child {
  padding-right: 25px;
  padding-left: 45px;
}
.item-data .about-box article {
  margin-bottom: 20px;
}
.item-data .about-box article h3 {
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;

  color: #433840;
  margin-bottom: 12px;
}

.about-img {
  height: 420px;
  width: 390px;
}

.item-about-right {
  margin-left: 35px;
}

.infographic-top-img {
  width: 100%;
  height: 111px;
  margin-top: -15px;
}
.infographic-bottom-img {
  width: 100%;
  height: 111px;
  /* margin-top: -15px; */
}
.infographic {
  background: #fea3ac;
  margin-left: 50px;
  margin-right: 50px;
  /* min-height: 600px; */
  margin-top: 60px;
}
.item-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon {
  margin-top: 15px;
  margin-bottom: 15px;
  color: #ffffff;
  padding-top: 100px;
}
.icon-image {
  height: 135px;
  width: 135px;
}
.count {
  font-family: Waiting for the Sunrise;
  font-size: 60px;
  text-align: center;
  margin-top: 15px;
}
.count {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}
.h4 {
  font-weight: bold;
  font-size: 20px;
}
.team h2.box-title{
  font-style: normal;
font-weight: bold;
font-size: 50px;
line-height: 6px;
color: #433840;
text-align: center;
margin-top: 57px;
}
.team .subtitle{
font-family: Waiting for the Sunrise;
font-style: normal;
font-weight: 300;
font-size: 30px;
line-height: 0px;
color: #F7A1A8;
display: block;
text-align: center;
margin-bottom: 60px;
}
.team-member .team-list{
  width: 50%;
  }
  

